{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <h1 class="text-center my-4">Planify | Connexion</h1>
                {% if not app.user %}
                <p class="text-center">Connectez-vous afin de gérer vos événements.</p>
                <form action="{{ path('app_login') }}" method="post">
                    {% if error %}
                        <div class="alert alert-danger" role="alert">
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    {% endif %}
                    <div class="form-group mb-2">
                        <label for="username">Email:</label>
                        <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required placeholder="john@doe.fr">
                    </div>
                    <div class="form-group mb-2">
                        <label for="password">Mot de passe:</label>
                        <input type="password" class="form-control" id="password" name="_password" placeholder="******">
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <div class="d-flex align-items-center justify-content-between gap-1">
                        <button type="submit" class="btn btn-success w-100">Se connecter</button>
                        <a href="{{ path('app_register') }}" class="btn btn-primary w-100">S'enregistrer</a>
                    </div>
                </form>
                {% else %}
                    <p class="text-center"><span class="fw-bold">Attention !</span>, vous êtes déjà connectez et vous invitons à vous redirigez depuis ces boutons</p>
                    <div class="d-grid gap-2">
                        <a class="btn btn-secondary" href="{{ path('app_home') }}">Retournez à l'accueil</a>
                        <a class="btn btn-outline-danger" href="{{ path('app_logout') }}">Se déconnecter</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
