{% extends 'base.html.twig' %}

{% block title %}Créer un événement{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-9 col-xl-5 px-4">
                <h1 class="text-center my-4">Planify | Créer un événement</h1>
                <p class="text-center">Démarrer la création de votre événement et receuillez des participants.</p>
                <a href="{{ path('app_user_my_events') }}" class="text-center text-nowrap btn btn-dark px-3 py-2 mb-2 fw-semibold rounded-pill">Voir mes événements</a>
                <div class="mt-4">
                    {{ form_start(form) }}
                    <div class="mb-3">
                        {{ form_row(form.title) }}
                    </div>
                    <div class="mb-3">
                        {{ form_row(form.content) }}
                    </div>
                    <div class="mb-3">
                        {{ form_row(form.location) }}
                    </div>
                    <div class="mb-3">
                        {{ form_row(form.startAt) }}
                    </div>
                    <div class="mb-3">
                        {{ form_row(form.endAt) }}
                    </div>

                    {{ form_row(form.submit) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
